# copy this file to /etc/systemd/system/
# sudo cp temperature_monitoring.service /etc/systemd/system/
# usage:
# sudo systemctl start temperature_monitoring.service       start the service
# sudo systemctl stop temperature_monitoring.service        stop the service
# sudo systemctl restart temperature_monitoring.service     restart the servic
# sudo systemctl status temperature_monitoring.service      Get the current status of the service
# sudo systemctl enable temperature_monitoring.service      enable the service to start automatically at boot
# sudo systemctl disable temperature_monitoring.service     disable automatic start at boot
# sudo systemctl daemon-reload                              Make sure to reload systemd after making any changes to the service file


[Unit]
Description=My Python Script
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/sun_heat_and_ftx/python/temperature_monitoring.py
WorkingDirectory=/home/pi/sun_heat_and_ftx/python
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
Wants=network-online.target
After=network-online.target
